java/build.properties
java/build
example/war/WEB-INF/packages
example/war/WEB-INF/lib/appengine-api-1.0-sdk-1.3.0.jar
example/war/WEB-INF/lib/appengine-api-labs-1.3.0.jar
example/war/WEB-INF/appengine-generated
