<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>jack</servlet-name>
        <servlet-class>org.jackjs.JackServlet</servlet-class>
        <init-param>
            <param-name>environment</param-name>
            <param-value>local</param-value>
        </init-param>
        <init-param>
            <param-name>optimizationLevel</param-name>
            <param-value>9</param-value>
        </init-param>	
    </servlet>
    <servlet-mapping>
        <servlet-name>jack</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
